[submodule "file-organizer"]
	path = file_organizer
	url = https://github.com/CharlesMC11/organize_directory.git

[submodule "crop_call_photos"]
	path = process_screenshots/crop_call_photos
	url = https://github.com/CharlesMC11/crop_discord_call_photos.git
[submodule "sst"]
	path = process_screenshots/sst
	url = https://github.com/CharlesMC11/sst.git
